/* ----------------- */
/* Global            */
/* ----------------- */

:root {
  /* fonts */
  --main: "Barlow Semi Condensed", sans-serif;

  /* font-sizes */
  --fs-400: 1rem;
  --fs-900: 1.4rem;

  /* font-weights */
  --fw-regular: 500;
  --fw-bold: 600;

  /* neutral colors */
  --clr-white: 0 0% 100%;
  --clr-neutral-100: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;
  --clr-neutral-600: 217 19% 35%;
  --clr-neutral-900: 219 29% 14%;

  /* accent colors */
  --clr-violet: 263 55% 52%;

  /* spacing */
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --fluid-16-24: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
  --fluid-71-80: clamp(4.4375rem, 4.2418rem + 0.9783vw, 5rem);
}

/* ----------------- */
/* Reset             */
/* ----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

html {
  font-family: var(--main);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-neutral-100));
  cursor: default;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------- */
/* Layout            */
/* ----------------- */

.wrapper {
  margin-inline: auto;
  margin-block: var(--fluid-71-80);
  max-width: 80rem;
  padding-left: var(--gutter, 1rem);
  padding-right: var(--gutter, 1rem);
}

.flow {
  --gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.grid {
  display: grid;
  gap: var(--space-m);
}

@media screen and (min-width: 68rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "one   one  two  five"
      "three four four five";
  }

  .grid > :nth-child(1) {
    grid-area: one;
  }

  .grid > :nth-child(2) {
    grid-area: two;
  }

  .grid > :nth-child(3) {
    grid-area: three;
  }

  .grid > :nth-child(4) {
    grid-area: four;
  }

  .grid > :nth-child(5) {
    grid-area: five;
  }
}

/* ----------------- */
/* Blocks            */
/* ----------------- */

.card {
  --text-color: var(--clr-white);
  padding: 2rem;
  color: hsl(var(--text-color));
  background-color: var(--card-color, grey);
  border-radius: 0.5rem;
  box-shadow: 10px 10px 15px -5px hsl(var(--clr-neutral-900) / 0.2);
}

.card:nth-child(1) {
  background-color: hsl(var(--clr-violet));
}

.card:nth-child(2) {
  background-color: hsl(var(--clr-neutral-600));
}

.card:nth-child(3) {
  --text-color: var(--clr-neutral-900);
  background-color: hsl(var(--clr-white));
}

.card:nth-child(4) {
  background-color: hsl(var(--clr-neutral-900));
}

.card:nth-child(5) {
  --text-color: var(--clr-neutral-900);
  background-color: hsl(var(--clr-white));
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__img {
  border-radius: 50%;
  aspect-ratio: 1;
  max-width: 2rem;
}

.card__verified {
  color: hsl(var(--text-color) / 0.5);
}

.card__headline {
  margin-top: 1.125rem;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  z-index: 1;
}

.card__quote {
  color: hsl(var(--text-color) / 0.7);
}

/* ----------------- */
/* Utilities         */
/* ----------------- */

.s-margin > * + * {
  margin-top: 0rem;
}

.m-margin {
  --gap: var(var(--fluid-16-24));
}

.purple-border {
  border: 2px solid hsl(var(--clr-neutral-300) / 0.5);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

[data-background="image"] {
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: 153px 156px;
  background-position: top 0px right 20px;
}

@media screen and (min-width: 68rem) {
  [data-background="image"] {
    background-position: top 0px right 100px;
  }
}
